{% extends 'base.html' %}

{% block title %}Add Comment{% endblock %}

{% block content %}
{% csrf_token %}
<div style="margin: 150px 100px">
    <span style="font-size:1.3rem ; font-weight: bold; margin-left: 250px; text-align: left">댓글 작성</span>
    <form style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px;" action="" method="post">
        {% csrf_token %}
        {{ form.user.as_hidden }}
        {{ form.post.as_hidden }}
        <input class="comment_box" type="text" name="comment" placeholder="댓글을 작성해주세요.">
        <div style="margin-left: 690px">
            <button type="button" onclick="history.back();">
                <img style="padding: 10px; width: 50px; height: 50px" class="basic_icon"
                     src="/static/assets/cancel_icon.png" alt="취소">
                <button type="submit"><img style="padding: 10px; width: 50px;" src="/static/assets/complete_icon.png"
                                           alt="확인"></button>
            </button>
        </div>
    </form>
</div>
{% endblock %}