{% extends 'base.html' %}

{% block title %}BEGINVEGAN{% endblock %}

{% block content %}

<nav class="nav_container">
    <a href="{% url 'begin_vegan:index' %}"><img style="height: 45px" class="logo" src="/static/assets/logo.png" alt="BEGINVEGAN"></a>
    <div class="menu">
        <a class="board_menu" href="/category/post/list">게시판</a>
    </div>
    <div class="menu">
        {% if user.is_authenticated %}
            <a class="login_logout_menu" href="{% url 'accounts:logout' %}">로그아웃</a>
        {% else %}
            <a class="login_logout_menu" href="{% url 'accounts:login' %}">로그인</a>
            <a class="register_menu" href="{% url 'accounts:register' %}">회원가입</a>
        {% endif %}
    </div>
    <div class="header_icon">
        <a href="{% url 'begin_vegan:post_create' %}"><img class="basic_icon" src="/static/assets/add_icon.png" alt="글 작성하기"></a>
    </div>
</nav>

{% endblock %}