{% extends 'base.html' %}

{% block title %}List Repository{% endblock %}

{% block content %}
    {{ repository_list.count }} Repository
    <a href="{% url 'toktok:repository_add' %}"><i class="bi bi-plus-lg"></i></a>
    <table class="table w-50">
        <tbody>
        {% for repository in repository_list %}
            <tr>
                <td class="align-middle"><a href="{% url 'toktok:repository_modify' pk=repository.pk %}"><i class="bi bi-pencil-fill"></i></a></td>
                <td>
                    <a href="{% url 'toktok:repository_detail' pk=repository.pk %}">{{ repository.name }}<br>
                    Date: {{ repository.deadline|date:'Y/m/d h:i' }}</a>
                </td>
                <td class="align-middle"><a href="{% url 'toktok:repository_delete' pk=repository.pk %}"><i class="bi bi-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}