{% extends 'base.html' %}

{% block title %}글 상세{% endblock %}

{% block content %}
        {%  load staticfiles %}
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/intro_detail.css' %}"
          xmlns="http://www.w3.org/1999/html">

        <a href="{% url 'board:repository_detail' pk=introduction.repository_id %} "><img src="{% static 'img/back.png' %}"></a>
    <br>
    <table class="type09">
  <thead>
  <tr>
    <th scope="cols">    {{ introduction.repository }}</th>
    <th scope="cols"> </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">제목</th>
    <td>{{ introduction.title }}</td>
  </tr>
  <tr>
    <th scope="row">글 번호</th>
    <td>{{ introduction.number }}</td>
  </tr>
  <tr>
    <th scope="row">글 내용</th>
    <td>{{ introduction.contents }}</td>
  </tr>
  <tr>
    <th scope="row">작성자</th>
    <td>{{ introduction.writer }}</td>
  </tr>
  </tbody>
</table>
    <br>
    <a href="{% url 'board:comment_add' repository_pk=introduction.repository_id introduction_pk=introduction.pk %}"><button class="button button1">댓글 달기</button></a>
    <a href="{% url 'board:introduction_modify' repository_pk=introduction.repository_id pk=introduction.pk %} "><button class="button button1">수정</button></a>
    <a href="{% url 'board:introduction_delete' repository_pk=introduction.repository_id pk=introduction.pk %}"><button class="button button1">삭제</button></a>

    <table class="type10">
        <tbody>
        {% for comment in introduction.comment_set.all %}
            <tr>
                <td>"{{ comment.comment }}"</td>
                <td><a href="{% url 'board:comment_modify' repository_pk=introduction.repository_id introduction_pk=introduction.pk pk=comment.pk %}"><button class="button button1" >댓글 수정</button></a></td>
                <td><a href="{% url 'board:comment_delete' repository_pk=introduction.repository_id introduction_pk=introduction.pk pk=comment.pk %}"><button class="button button1">댓글 삭제</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}